* {
  box-sizing: border-box;
}

@import url("db.onlinewebfonts.com/c/04d799f9fc4bd0a0973b3331ff889f32?family=Schnyder+Cond+M+Light");

/* le font adapté pour au differents navigateur */
@font-face {
  font-family: "Schnyder Cond M Light";
  src: url("//db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.eot");
  src: url("//db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.svg#Schnyder Cond M Light") format("svg");
}

@import "node_modules/aos/src/sass/aos.scss";

html {
  scroll-behavior: smooth;

  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #c3947a;

  font-family: "Schnyder Cond M Light";
  color: #2c1e3c;


}

section {
  height: 100vh;
}

a {
  text-decoration: none;
}

/* Le menu */


.navbar {
  font-family: "Noto Sans", sans-serif;
  flex-flow: column;
  flex-direction: column;
  flex-wrap: initial;
  grid-area: 1/9/2/11;
  padding: 20px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  justify-self: end;
  /* couleur de ecriture*/
  color: #2c203c;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-self: center;
}

.navbar-links li {
  list-style: none;
  background-color: transparent;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #2c203c;
  font-size: 0.9vw;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.navbar-links li:hover {
  border-bottom: 8px solid #d4cbbebb;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Menu en responsive */
@media (max-width: 800px) {
  .header {
    height: 3.5vh;
  }

  .navbar {
    flex-direction: column;
    grid-area: 1/5/2/12;
    align-items: flex-start;
    position: relative;
    left: -10%;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    display: contents;
  }

  .navbar-links ul li {
    text-align: center;
    margin: auto;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
    font-size: 4vw;
    border: none;
    width: auto;
  }

  .navbar-links.active {
    display: flex;
  }
}



/* CSS GRID */
.grid_wrap {
  display: grid;
  grid-template-columns: [col1] 5% [col2] 10% [col3] 10% [col4] 10% [col6] 10% [col7] 10% [col8] 10% [col9] 10% [col10] 10% [col11] 10% [col12]10%;

  grid-template-rows: [line1] 10% [line2] 15% [line3] 15% [line4] 15% [line5] 15% [line6] 10% [line7] 10% [line8]5% [line9]5% [line10]0%;
}

/* La page d'accueil */
.part1 {
  position: relative;
  overflow: hidden;

  /*background-color: #c3947a;*/

  background-position: center center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;
}

/*les mots à differents endroits de la page;*/
.break_word1,
.break_word2,
.num {
  font-family: "Schnyder Cond M Light", "Schnyder L Wide", "Times New Roman",
    Times, serif;
  letter-spacing: 0.05em;
  line-height: 1.3;
  font-weight: 400;
}

.break_word1 {
  grid-area: 2/ 4 / 5/ 9;

  font-size: 10vw;
  font-weight: 100;

  margin-top: 9px;
}

.break_word2 {
  position: relative;
  top: 10%;
  grid-area: 3 / 4 / 5/ 12;
  font-size: 5vw;
}

.num {
  grid-area: 4 / 4 / 5/ 12;
  display: flex;
  position: relative;
  left: 35%;

  font-size: 3vw;
}

/*l'ancre "VOIR"*/
.plus {
  grid-area: 6/6/8/9;
  position: relative;
  left: 20%;
}

.plus a {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5vw;
  letter-spacing: 0.25;
  color: #2c203c;
  border-bottom: 1px solid #2c203c;
}

/*--------------------------LA SECTION PRESENTATION-------------------*/
.sect-presentation {
  overflow: hidden;
  position: relative;
}

.sp_name {
  font-weight: bold;
}

/*@media (max-width: 1800px) {*/
.question1 {
  grid-area: 1/5/2/8;
}

.qst_title {
  margin-top: 20px;
  position: relative;
  left: 8%;
  letter-spacing: 0.05mm;
  font-size: 4vw;
  font-weight: 100;
  margin-left: 25px;
}

.sect-presentation .line1 {
  opacity: 0.25;
  border: 1px solid#000;
  width: 100%;
  height: 1px;

  grid-area: 1/4/2/12;
}

.reponse {
  grid-area: 2/6/4/11;
  display: flex;
  border-bottom: 15px solid #2c203c;
  border-radius: 15px;
}

/*le texte EN PARAGRAPHE*/
.bio {
  word-spacing: 0mm;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5vw;
  letter-spacing: 0.25mm;
  justify-self: center;
  text-align: justify;
  padding: 20px 20px;
}

/*les images*/
.img_content:hover img {
  transform: scale(1.05) translateZ(0);
  transition-duration: 0.9s;
}

.img_content img {
  display: block;
  transition: transform 550ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: transform;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0s;
}

.img_content .profil_img {
  position: absolute;
  top: 3%;
  left: 15%;
  border-bottom-left-radius: 155px;
  border-bottom-right-radius: 155px;
  height: 40vh;
  width: 20vw;
}

/*LA PARTIE TITRE : MON PARCOURS*/
.huge_content {
  display: flex;
  grid-area: 6/6/10/12;
}

.huge_title {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 15px;

  justify-self: center;
  font-size: 15vw;
  font-weight: 200;
  letter-spacing: 0.5mm;
}

/*---- MEDIA QUERY HAUTEUR-------*/
@media screen and (max-height: 900px) {
  .sect-parcours .side_1 {
    position: relative;
    top: 10%;
    grid-area: 3/7/10/12;
  }

  .sect-parcours .ma_formation {
    position: relative;
    top: 23%;
    grid-area: 3/5/5/7;
  }

  .main_title {
    font-size: 1vh;
    margin: 0;
  }

  .bac_container,
  .brevet {
    padding: O;
  }

  @media screen and (max-height: 700px) {
    .huge_title {
      font-size: 15.5vh;
    }

    .huge_content2 {
      font-size: 7.5vw;
    }

    .sect-experience .end_content {
      grid-area: none;
      display: flex;
      padding-left: 0.5rem;
      border: none;
    }

    .end_content .merci {
      grid-area: none;
      border: none;
      display: flex;
      padding: 0px;
    }

    .merci_content span:not(a) {
      border: none;
      opacity: 0;
    }

    .mrg {
      margin-bottom: 10px;
    }

    .moncv {
      position: absolute;
      bottom: 2.5%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      font-size: 1rem;
      width: 50vw;
      margin-top: 50px;
      padding: 10px 5px 10px 5px;
    }
  }
}

/*-------------------------*/
/*@media screen and (max-height: 400px) {
  .sect-experience,
  .sect-parcours {
    height: 120vh;
  }
}*/
/*LA DEUXIEME SECTION EN COMMENÇANT PAR MES FORMATIONS*/
.sect-parcours,
.sect-experience {
  height: 120vh;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;

  position: relative;
  overflow: hidden;
}

/*LES TITRES DE formation*/
.huge_content2 {
  display: flex;
  grid-area: 1/2/4/9;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
}

.huge_title2 {
  margin-top: 0;

  font-size: 14vw;
  font-weight: 200;
  justify-self: center;
  letter-spacing: 0.9mm;
}

.color_text {
  font-family: "Noto Sans", sans-serif;
  color: rgb(39, 38, 38);
  letter-spacing: 0.35mm;
}

.bold_text br {
  margin-top: 5px;
}

/*Le seul element texte à etre sur le coté gauche en grid*/
.ma_formation {
  font-size: 2vw;
  grid-area: 4/5/5/7;
  letter-spacing: 0.5mm;
  font-weight: 100;
  margin-top: 0%;
  font-family: "Noto Sans", sans-serif;
}

/*Tout les elements mise sur le coter DROIT  avec grid*/
.side_1 {
  grid-area: 4/7/10/12;
  padding: 10px;
}

.main_title {
  font-family: "Schnyder Cond M Light";
  font-size: 2vw;
  font-weight: bold;
  margin-top: 0;
  margin-left: 0;
  letter-spacing: 0.25mm;
  color: rgb(39, 38, 38);
}

.side_1,
.mmi_text {
  font-family: "Noto Sans", sans-serif;
}

.sect-parcours .line2 {
  opacity: 0.25;
  border: 1px solid#000;
  width: 100%;
  height: 1px;
  grid-area: 2/2/4/11;
  position: relative;
  top: 36.5%;
}

.bac_container {
  grid-area: 5/7/9/12;

  padding: 30px 25px 0px 0px;
}

.brevet {
  padding: 20px 0px 0px 0px;
}

/*Les elements mis sur le coté gauche*/
.side_2 {
  grid-area: 1/3/10/7;
  padding: 20px 20px 0px 40px;
  text-align: end;
}

.mes_xp {
  grid-area: 1/7/2/11;
  margin: 0;
  padding: 10px;
  font-size: 2vw;
  letter-spacing: 0.5mm;
  font-weight: 100;

  font-family: "Noto Sans", sans-serif;
}

/*L'espacement entre parties*/
.mrg {
  margin-bottom: 20px;
}

.surligne {
  height: 5px;
  width: auto;
  border-bottom: 8px solid #d4cbbebb;

  background-size: 3px;
}

/*-------------LE FOOTER----------*/
.end_content {
  grid-area: 6/1/10/12;
  padding-left: 1rem;
  display: flex;
  border-top: 1px solid rgb(39, 38, 38, 0.4);
}

.end_content .merci {
  grid-area: 6/2/7/5;
  display: grid;
  padding: 50px;
  border-right: 1px solid rgb(39, 38, 38, 0.4);
}

/*-----------------lES LIENS DU FOOTER ET LA MISE EN FORME-------------------*/
.merci>.merci_content,
.savoirs-btn>.savoirs_content {
  font-size: 1.5vw;
  text-align: center;
  font-family: "Schnyder Cond M Light", "Schnyder L Wide";
}


a .moncv {
  display: block;

  justify-self: center;
  align-self: center;
  text-decoration: none;
}

.moncv {
  display: block;
  margin-right: auto;
  margin-top: 40px;
  margin-left: auto;
  text-align: center;
  width: 15vw;

  background-color: #2c1e3c;
  color: #c3947a;
  padding: 20px 10px 20px 10px;

  font-family: "Noto Sans", sans-serif;
  font-size: 1vw;
}

.end_content .topcontact {
  padding: 100px 105px 50px 105px;
  border-right: 1px solid rgb(39, 38, 38, 0.4);
}


.top_link {
  display: block;
  margin-right: auto;
  margin-top: 10px;
  margin-left: auto;
  text-align: center;
  width: 15vw;

  color: #2c1e3c;
  padding: 20px 10px 20px 10px;

  font-family: "Noto Sans", sans-serif;
  font-size: 2vw;
}

.end_content .savoirs-btn {
  grid-area: 6/10/7/11;
  display: grid;
  padding: 50px 125px 50px 130px;
}

.savoirs_link {
  justify-self: center;
  align-self: center;
  text-decoration: none;
}

.savoirs_link {
  display: block;
  background-color: #2c1e3c;
  color: #c3947a;
  margin-right: auto;
  margin-top: 40px;
  margin-left: auto;
  text-align: center;
  width: 15vw;

  padding: 20px 10px 20px 10px;

  font-family: "Noto Sans", sans-serif;
  font-size: 1vw;
}

.end_content .contact {
  grid-area: 8/1/10/5;
  position: absolute;
  bottom: 0;
  padding: 25px;
  display: flex;
}

.icons {
  height: 3.5vh;
  width: 2vw;
}

.mail_container {
  grid-area: 8/1/10/2;
  display: block;
  margin: auto;
}

.linkedin_container {
  grid-area: 8/3/10/5;
}

/*les query responsive sur les elements generales selon la largeur du navigateur*/
@media screen and (max-width: 1340px) {
  .sect-experience {
    height: 140vh;
  }
}

@media screen and (max-width: 1140px) {
  .end_content {
    grid-area: 7/1/10/12;
  }

  .moncv {
    margin-top: 25px;
  }

  /*@media screen and (min-width: 930px) {
  .main_title {
    font-size: 1rem;
  }

  .sect-parcours .ma_formation {
    padding-top: 50px;
    justify-self: center;
    grid-area: 2/3/5/11;
    font-size: 2rem;
  }
  .sect-parcours .line2 {
    grid-area: 2/2/4/11;
    margin-top: 25px;
  }
}*/
  @media screen and (max-width: 800px) and (max-width: 850px) {

    /*Je redefinie le CSS GRID POUR PETITS ECRANTS*/
    .grid_wrap {
      display: grid;
      grid-template-columns: [col1] 5% [col2] 10% [col3] 10% [col4] 10% [col6] 10% [col7] 10% [col8] 10% [col9] 10% [col10] 10% [col11] 10% [col12]10%;

      grid-template-rows: [line1] 5% [line2] 10% [line3] 10% [line4] 10% [line5] 10% [line6] 10% [line7] 10% [line8]5% [line9]5% [line10]5% [line11]5% [line12]5% [line13]5% [line14] 5% [line15]5%;
    }

    .break_word1 {
      grid-area: 4/3/5/11;
      font-size: 13vw;
    }

    .part1 h1 .break_word2 {
      margin: 0%;
    }

    .break_word2 {
      grid-area: 5/4/7/12;
      top: 0%;
      font-size: 8vw;
    }

    .part1 .break_word2 .num {
      font-size: 4vw;
    }

    .plus {
      grid-area: 8/6/10/9;
      position: relative;
      left: -15%;
    }

    .plus a {
      font-size: 2rem;
    }

    .img_content .profil_img {
      position: absolute;
      top: 25%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      height: 25vh;
      width: 40vw;
    }

    .reponse {
      grid-area: 6/2/9/11;
      display: flex;
      border-bottom: none;
      padding: 0px 20px 0 20px;
    }

    .bio {
      display: block;

      word-spacing: 0mm;
      margin: auto;
      font-size: 3.2vw;
      letter-spacing: 0.25mm;
      justify-self: center;
      text-align: justify;

      padding: 10px;
    }

    .huge_content {
      display: flex;
      grid-area: 10/8/11/12;
    }

    .huge_content .huge_title {
      position: absolute;
      bottom: 0%;
      margin: 0;
      font-size: 12vw;
      align-self: flex-end;
    }

    .sect-presentation {
      height: 90vh;
    }

    .huge_content2 {
      grid-area: 1/2/2/9;
    }

    .huge_title2 {
      font-size: 12vw;
      margin-bottom: 0%;
    }

    .sect-parcours {
      height: 95vh;
    }

    .sect-parcours .line2 {
      grid-area: 2/2/4/11;
    }

    .sect-parcours .side_1 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
      margin-top: 10px;
      padding: 10px 20px 10px 0px;
      grid-area: 5/1/10/12;
    }

    .main_title {
      font-size: 1.5rem;
    }

    .sect-parcours .ma_formation {
      justify-self: center;
      grid-area: 2/3/5/11;
      font-size: 2rem;
    }

    .mes_xp {
      display: flex;
      align-self: center;
      margin: 10px auto 10px auto;
      text-align: center;
      grid-area: 1/2/3/11;
      font-size: 2rem;
    }

    .sect-experience .side_2 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
      margin-top: 10px;
      margin-left: 0%;
      margin-right: 0;
      padding: 10px 20px 10px 0px;
      grid-area: 4/1/10/12;
    }

    .surligne {
      border-bottom: 4px solid #d4cbbebb;
    }

    /* POUR LE FOOTER*/
    .end_content {
      grid-area: 12/1/10/15;
      display: flex;
      padding-left: 0.5rem;
      border: none;
    }

    .end_content .merci {
      grid-area: none;
      border: none;
      display: flex;
      padding: 0px;
    }

    .merci_content span:not(a) {
      border: none;
      opacity: 0;
    }

    .mrg {
      margin-bottom: 10px;
    }

    .moncv {
      position: absolute;
      bottom: 2.5%;
      left: 20%;
      transform: translate(-50%, -50%);
      font-size: 1, 3vw;
      width: 30vw;
      margin-top: 50px;
      margin-bottom: 10px;

      padding: 10px 5px 10px 5px;
    }

    .end_content .topcontact {
      border-right: none;
    }

    .topcontact .top_link {
      position: absolute;
      bottom: 2.5%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
      /* width: 50vw; */
      margin-top: 50px;
      padding: 10px 5px 10px 5px;
    }

    .savoirs_content span:not(a) {
      border: none;
      opacity: 0;
    }

    .savoirs_link {
      position: absolute;
      bottom: 2.5%;
      right: -10%;
      transform: translate(-50%, -50%);
      font-size: 1, 3vw;
      width: 30vw;
      margin-top: 50px;
      padding: 10px 5px 10px 5px;
    }
  }
}